.navbar{
  /* Warm */
  background-color: #76323F;

  /* Minimal */
  /*background-color: #627993;*/

}
.navbar-fixed-top{
  border-bottom: none;
}

.web-content{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#logoURJC{
  height: 30%;
  width: 30%;
  ;
}
.jumbotron {
  margin-bottom: 10px;
  margin-top: 5px;
  padding-top: 65px;
  color: antiquewhite;
  background: url(./images/jumbotron-bg.png) left;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #565656;/* Warm */
  /*background-color: #96858F;/* Minimal*/
}

.jumbotron a{
  color: burlywood;
}

.jumbotron h1{
  color: antiquewhite;
  text-align: center;
  text-shadow: 3px 3px #76323F;
}

.buttons-row{
  padding: 10px 0 10px 0;
}

.dropdown-toggle, #init{
  border: none;
  background-color: #76323F;
  color: antiquewhite;
}

.dropdown-menu{
  padding: 3px 3px 8px 6px;
}

.dropdown-menu .btn{
  margin-top: 8px;
}

.section{
  margin: 0 0 10px 0;
  padding: 5px 10px 5px 30px;
  background-color: #D7CEC7;
  border-radius: 6px;
}

.section-icon img{
  padding: 2em 0 2em 7em;
  height: 45%;
  width: 45%;
}

footer{
  background-color: #C09F80;
  color: antiquewhite;
  padding: 14px 0 10px 0;
}

footer p{
  margin-left: 10px;
}

footer a{
  color: #565656;
  padding: 0 10px 0 10px;
}

footer a:hover{
  color: #76323F;
}

#icons-attribution{
  float: left;
  font-size: 0.8em;
  text-align: left;
  padding-left: 25px;
}

/*#icons-attribution a{
  color: #D7CEC7;
}

#icons-attribution a:hover{
  color: #76323F;
}*/

#code-link{
  text-align: center;
}
